.titre{
    width: 100%;
    text-align: center;
    padding: 8px;
}
#dv_Chess{
 /*  width: 80%;*/
 align-items: center;
 justify-content: center;
   /* margin: auto;*/

}
#tb_Chess{
     width: 100%; 
    
}
#tb_Chess td{
    width: 64px;
    height:64px;
    border: 1px solid black;
}
.kahla{
    background-color:brown;
}
.bayda{
background-color: white;
}
.container{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;}
.move{
    
    display: flex;
    /*border: 1px solid black;*/
    justify-content: space-around;
    
}

.keys{
   /* border: solid 2px black;*/
    cursor: pointer;

}
.keys img{
    height: 60px;
    width: 60px;
}
.up{
    transform: rotate(-90deg);
}
.down{
    transform: rotate(90deg);
}
.left{
    
    transform: rotate(180deg);
    display: flex;
   
}
.left img{align-self: center;}
.right{display: flex;}
.right img{align-self: center;}