.titre{
    width: 100%;
    text-align: center;
    padding: 8px;
}
#dv_Chess{
   width: 80%;
   margin: auto;

}
#tb_Chess{
    /* width: 100%; */
    
}
#tb_Chess td{
    width: 64px;
    height:64px;
    border: 1px solid black;
}
.kahla{
    background-color:brown;
}
.bayda{
background-color: white;
}
.container{
display: flex;
flex-wrap: wrap;}
.move{
    width: 200px;
    height: 35px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    justify-content: space-around;
    align-items: center;
}

.keys{
    border: solid 2px black;

}
